entrypoint = "BotScript.py"
modules = ["python-3.10:v18-20230807-322e88b"]

[nix]
channel = "stable-23_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "python3 BotScript.py"]
deploymentTarget = "gce"
ignorePorts = true

[objectStorage]
defaultBucketID = "replit-objstore-7c9dc31a-b1a5-48b9-ae32-2f3a107b6ba2"
